body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scrollcss::-webkit-scrollbar-track
{
	/* box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); */
	background-color: #F5F5F5;
}

.scrollcss::-webkit-scrollbar
{
	width: 6px;
	background-color: #ffffff;
}

.scrollcss::-webkit-scrollbar-thumb
{
	background-color: rgb(197, 197, 197);
}